<ion-header collapse="condense" [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">Zapaan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ng-container *ngFor="let sheet of sheets">
      <ion-card>
        <div class="icon-wrappr">
          <ion-row>
            <ion-col size="6">
              <ion-icon name="trash-outline" size="large" (click)="delete(sheet)"></ion-icon>
            </ion-col>
            <ion-col size="6">
              <ion-icon name="create-outline" size="large" (click)="goToUpdateSheet(sheet)"></ion-icon>
            </ion-col>
          </ion-row>
        </div>
        <ion-card-header>
          <ion-card-title>{{ sheet.content }}</ion-card-title>
        </ion-card-header>
        <h3>{{ sheet.time }}</h3>
        <ion-button color="success">start!</ion-button>
      </ion-card>
    </ng-container>
    <ion-icon name="add-circle-outline" size="large" (click)="goToCreateSheet()"></ion-icon>
  </div>
</ion-content>
