<div class="controls">
  <button type="button" class="btn btn-primary" (click)="switchToPomodoro()">Pomodoro</button>
  <!-- <button type="button" class="btn btn-primary" (click)="switchToShortBreak()">Short Break</button>
  <button type="button" class="btn btn-primary" (click)="switchToLongBreak()">Long Break</button> -->
</div>

<div [ngSwitch]="this.mode">
  <app-timer *ngSwitchCase="'pomodoro'"(onComplete)="onTimerComplete()"></app-timer>
  <!-- <app-timer *ngSwitchCase="'short'" [m]=5 [s]=0 (onComplete)="onTimerComplete()"></app-timer>
  <app-timer *ngSwitchCase="'long'" [m]=15 [s]=0 (onComplete)="onTimerComplete()"></app-timer> -->
</div>

<p class="counter"><em>You have completed {{pomodoroCount}} Pomodoros this session</em></p>

<ng-container
  *ngFor="let sheet of sheets"
>
  <ion-card>
    <div class="icon-wrappr">
      <ion-row>
        <ion-col size="6">
          <ion-icon name="trash-outline" size="large" (click)="delete(sheet)"></ion-icon>
        </ion-col>
        <ion-col size="6">
          <ion-icon name="create-outline" size="large" (click)="goToUpdateSheet(sheet)"></ion-icon>
        </ion-col>
      </ion-row>
    </div>
    <ion-card-header>
      <ion-card-title>{{ sheet.content }}</ion-card-title>
    </ion-card-header>
    <ion-button color="success" (click)="switchToPomodoro()" >
      <ion-icon name="play-outline"></ion-icon>
    </ion-button>
  </ion-card>
</ng-container>
<ion-icon
  name="add-circle-outline"
  size="large"
  (click)="goToCreateSheet()"
></ion-icon>